POSTGRES_USER=billing_user
POSTGRES_PASSWORD=billing_pass
POSTGRES_DB=billingdb
ConnectionStrings__Billing=Host=localhost;Port=5434;Database=billingdb;Username=billing_user;Password=billing_pass
Jwt__Key=replace_with_a_long_random_string
Jwt__Issuer=billing-api
Stripe__SecretKey=secret_key_replace_me
Stripe__WebhookSecret=whsec_replace_me
Stripe__PublishableKey=publishable_key_replace_me
Stripe__ProPriceId=product_price_id_replace_me